.tank {
    width: 150px;
    height: 250px;
    margin: 0 auto;
    margin-left: 300px;
    object-fit: cover;
}

.magicka {
    width: 150px;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
}

.stamina {
    width: 150px;
    height: 250px;
    margin: 0 auto;
}

.healer {
    width: 150px;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
}