*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #871fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-bottom: 15px;
}

.content {
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
    background-color: #fff;
    
    p {
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
    }

    .home_img {
        width: 600px;
        height: 400px;
    }




    .ps4_controller{
        width: 200px;
        height: 200px;
        float: left;
        margin-right: 20px;
        margin-left: 140px;
    }

    .ps_content {
        text-align: left;
        display: inline;
    }

    .xbox_controller {
        float: right;
        width: 200px;
        height: 200px;
        margin-top: 60px;
        margin-right: 125px;
    }

    .xbox_content {
        text-align: left;
        display: inline;
        
        h2 {
            margin-top: 50px;
            margin-left: 140px;
        }
    }

    .about_img {
        float: right;
        width: 600px;
        height: 500px;
        margin-left: 20px;
        margin-right: 130px;
    }

    .about_content{
        display: inline;
        text-align: left;
    }

    .contact_content {
        text-align: left;
    }

    .laptop_img {
        margin-top: 40px;
        margin-right: 10px;
        width: 450px;
        height: 300px;
    }

    .phone_img {
        margin-top: 40px;
        margin-left: 10px;
        width: 450px;
        height: 300px;
    }
}

