<div class="account">
    <div class="login">
        <h2>Login Here!</h2>
        <input type="text" class="ltext" placeholder="Email Address">
        <input type="text" class="ltext" placeholder="Password">
        <input type="submit" id="log" value="Login">
    </div>
    <div class="sign_up">
        <p>Don't have an account?</p>
        <h2>Sign Up!</h2>
        <input type="text" class="stext" placeholder="First Name">
        <input type="text" class="stext" placeholder="Last Name">
        <input type="text" class="stext" placeholder="Email Address">
        <input type="text" class="stext" placeholder="Password">
        <input type="submit" id="sign" value="Sign Up">
    </div>
</div>