<h1>About the Kingsmen</h1>

<p>The guild was founded by KiloPatches(Magicka DPS), Euthanogenicon(Magicka DPS), Jfeezy(Healer), and Puck(Tank) in June 23rd 2015, as a PS4 NA ESO AD guild. The guild strives to combat MMO elitism. </p>
    <br>
    <img class="sword" src="imgs/sword.jpg" alt="Sword Hilt Image">
    Kilopatches states why she became a GM(Guild Master): "I genuinely enjoy it. Being a GM is a challenge, for sure, but I love pushing
    myself to continue to do better, grow as a person, develope new skills and help others. I am blessed with an amazing team of officers
    with a wide variety of strengths who i can count on and delegate tasks to, thats a big part of it too. Leadership is my passion
    and I absolutely love Elder Scrolls, in almost 5 years i haver never run out of things to do in ESO. One big part of it too is that
    I credit Kingsmen for my ongoing psychological stability, more than most of the guild even realizes. In June 2015 I was in a bad place.
    I hade to drop out of classesin the previous February - my core foucs and drive - when i became bedridden for 9 weeks from the swelling and aftermath from Kidney stones that pinched 
    a nerv in my spine. Being bipolar, the lack of activity in the months after really made my mood tank. My partner at the time was 
    going through major adjustments as a masters student, and the pressure brought out the worst in him. Financial pressures too without me 
    working caused him to become withdrawn and avoiding towards me, and later hostile and abusive. I had looked forward to ESO's launch
    , and i played realeas day. Despite my limitations physically, financially, I knew to crawl out of that depression, I had to identify
    my strengths and factors within my control. I identified leadership as a strength, and ESO as a new passion, so i made a call for players,
    having never been in guild or even played an MMO before. The moment I reached level 10, I formed the Kingsmen, as a mature players guild.
    <br></br>
    The months that followed mark immense growth for me as a person. I made meaningful connections with the founding members, and in real life
    began making small steps towards change and mental health recovery. It didn't always work but the Kingsmen's existence encouraged me to keep
    tring to pursue healthy choices and wellnes tools. After that it snowballed. I built upon a momentum of deciding what i wanted out of life, 
    and going for it, without fearing failure. I tried out for a competitve swim team, just to see if I could do it, and got in, despite not training
    for years. I couldn't afford the costs of being an athlete and remaining on the team, but it affirmed that i wasn't broken, damaged, or worthless.
    I was still the same person as before the Kidney stones, if not better and with more self-confidence.
    <br></br>
    Kingsmen empowered me to leave that abusive relationship of 8 years in Oct 2016, and i went on to live my best life and establish what I felt
    I wanted and deserved in a partner. I had to rebuild my life, having resorted to a women's shelter for a time before getting my own place, securing reliable 
    work, meeting Dylan(Ecliptica1987) through mutual friends, romancing him, moving in with him, and him actually buying me a PS4 so I could reconnect with the 
    guild again, because he knew how much it meant to me, and how hard I worked to remain active from the sidelines. My life has only gotten better since, and I 
    look back on my decision to form the Kingsmen as that catalyst that made all the difference. Anytime that I feel depression creep up on me, the 
    Kingsmen is a constant reminder that a severe mood isn't permanent. I crawled myself out of my most devastating depressive episode that lasted over a year before 
    , I can do it again, if I remind myself what I do have control of, and pursue my strengths and as a starting point. That reminder has kept the bipolar symptoms 
    at bay, and i haven't been hospitalized or attempted suicide since forming the Kingsmen. I owe this guild my life. Of course I am going to pour my heart and soul
    into it each day, and proactively reach out to the membership and remind them that I care. I reclaimed my life and learned to thrive with bipolar 
    because of all of them, in my mind. It couldn't bring me greater joy than to be there for all of them and achieve great things." 
<p>
    <ul><i> <a href="https://www.elderscrollsonline.com/en-us/home" target="blank">ESO (Elder Scrolls Online)</a></i></ul>
    <ul><i>AD (Aldmeri Dominion)</i></ul>
</p>
<p>"There is nothing about being superior to your fellow man, true nobility is superior to your former self." - Ernest Hemingway</p>