<h1>Contact Info</h1>



<p>Join the Kingsmen Discord
    <br />
    <a href="https://discord.gg/X38cSaq" target="blank">https://discord.gg/X38cSaq</a> 
    <br />
    or add KiloPatches on PSN and ask to join the community
    <br />
    PSN: KiloPatches
</p>

<p>
    <img src="imgs/chat_icon.jpg" class="chat" alt="Chat Icon">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, beatae nostrum? Repellendus tenetur culpa nihil provident, magnam ad sequi quam magni eveniet corrupti, sapiente adipisci velit vero perspiciatis fuga rem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum molestias ducimus dolorum sint, veniam, optio illum natus nihil quae laudantium id! Corrupti quos necessitatibus fugiat repellat dolorem enim cumque minima.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facere maiores omnis dolore impedit, dolor minus qui? Minus recusandae nobis et similique rerum sed, amet at dolore? Sapiente, soluta ipsa?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nostrum quisquam iusto vel nihil recusandae pariatur modi voluptatibus necessitatibus ab dolore atque molestiae vero illum, minus perferendis laborum possimus. Consequuntur.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis recusandae laudantium aliquam quaerat excepturi sapiente doloremque, quidem inventore unde officia delectus magni eius tenetur voluptatem dolores tempore veniam voluptates voluptate!

</p>

<p>
    <img src="imgs/community.jpg" class="community" alt="Community Photo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magnam ab quis illum cupiditate eos non consectetur et expedita laborum maxime saepe, assumenda facere eum dolor error tenetur architecto? Dolor.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium doloribus cumque, iusto et temporibus ratione autem sequi eveniet minus consectetur rerum obcaecati totam eum, adipisci harum aspernatur veritatis quo modi?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores assumenda et quae exercitationem repudiandae aliquam? Tempora nulla corporis eaque ab neque obcaecati exercitationem aperiam eum tempore consequatur! Veniam, nesciunt doloribus.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, blanditiis voluptates. Eos nihil quod qui necessitatibus maiores corrupti omnis obcaecati nisi distinctio nobis consectetur hic repudiandae, asperiores magni. Est, pariatur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque minus omnis voluptas eligendi. Repellendus veniam ipsam temporibus quam nostrum non tempora maiores ab obcaecati laborum aliquid, quisquam porro dicta quidem.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis nam quos odit, numquam assumenda quaerat velit rerum culpa omnis. Iusto libero laborum illo vitae pariatur ipsam eum quae recusandae. Deserunt.

</p>


<p>Screenshots and images were taken from pexels.com(images) and Elder Scrolls Online(screenshots on roles page)</p>