<h1>Roles</h1>

<h3>Tank</h3>

<p>
    
    The tanks are the "leader" of the group and lead gorups in dungeons and trials. Tanks generally have a higher helth pool than DPS
    and Healers. While there will most likely be a healer in the group, depending on if one is needed or not, the tank still needs some
    form of self healing. This self healing can be from passive abilities, active abilities, or leeching abilities. Tanks also wear heavy
    armor giving them a boost in their physical and magical defenses. Any class can be a tank but few tend to shine better than others.
    These two being a dragonknights and a wardens.
</p>

<h3>DPS (damage per second)</h3>

<p>There are two different ways of playing as a dps character. You can focus on dealing damage with magicka or stamina.
    You can read more about the two below.
</p>

<h4>Magicka</h4>

<p>
    
    Magicka characters tend to focuse more on using their class abliities while using a staff and light armor. Since magicka characters
    use light armor unlike heavy or medium armor they tend to take more damage as a result. However since they are wearing light armor
    they gain a bonus to their overall magic damage and magicka reserves. Any class can play as a magicka but some class tend to shine
    more than others, sorcerers are an example of this.
 </p>

 <h4>Stamina</h4>

 <p>
    
    Unlike magicka characters, stamina characters focuse more on using their weapons. These weapons can range from swords, axes, daggers, 
    mauls, hammers, battle axes, greatswords, and bows. Most of the time stamina characters carry a bow and their choice of 2 regular sized
    weapons or a 2h (two-handed) weapon. Stamina characters also wear medium armor giving them a little defense due to how close they have to 
    with their enemies, they however cannot take a hit like a tank can. Like a magicka character, any class can play as a stamina character 
    but some tend to shine better, nightblades were an example.  
</p>

<h3>Healer</h3>

<p>
    
    Healers are the hardest of the three roles. They have to keep an eye on all of their group members and keep them healthy. They are a
    prime target as well because if a group loses their healer the rest of the group is basically dead unless then can revive their healer
    in time. Healers are similar to magicka characters with their ability to use staves and light armor. However a healers staff is buit 
    to help them heal their allies along with their healing abilities from their class. Any class can be a healer but again a few shine better
    than other classes. These two being wardens and templars.
</p>

<p>From left to right: Tank, Magicka DPS, Stamina DPS, Healer</p>
<img src="imgs/tank.jpg" class="tank" alt="Tank character">
<img src="imgs/mag_dps.jpg" class="magicka" alt="Magicka DPS Character">
<img src="imgs/stam_dps.jpg" class="stamina" alt="Stamina DPS Character"> 
<img src="imgs/healer.jpg" class="healer" alt="Healer character">
