<h1>Trials</h1>

<p>Trials are usually lead by cheeseking along with a few others who know about the trial. The first trial for the Kingsmen was <a href="https://alcasthq.com/hel-ra-citadel-guide-for-elder-scrolls-online/" target="blank">HRC (Hel Ra Citadel)</a> in August 2019.
    Dues to his leadership in this trial he was appointed to the rank Officer. These groups usually consist of 12 members with 2 tanks, 2 healers, and 8 DPS.
    Trials for the Kingsmen are usually held on Tuesdays and Fridays. 
    <br />
    Trials are hard and require participation from the whole group, one wrong move can be the downfall for the whole group. These events are the 
    way to test the waters to see if you can handle the vet version. The vet version of trials are harder and add new things, these can range from 
    enemies to major room changes. 
</p>

<img src="imgs/group.jpg" class="group" alt="Group of people ready to face a challenge">