//background image of the final with black gradient over it
.background-content-center{
        height: 100%;
        //background-image: url(../images/backrgound.jpg);
        background-image: 
        linear-gradient( to right, rgba(0, 0, 0, 0.5) , rgba(0,0,0,.5)) ,
        url(../images/backrgound.jpg) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

    //Centering the aqua box into the center of the background image    
    .callout {
        position: relative;
        width: 400px;
        height: 300px;
        background-color: aqua;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }

        //Puts the purple center into the upper right corner of the aqua box
        .circle {
            position: absolute;
            width:100px;
            height: 100px;
            background-color: purple;
            border-radius: 50%;
            top: 0;
            right: 0;
        }
    }    

    //Another aqua box to put next to the first aqua box
    .callout2 {
        width: 400px;
        height: 300px;
        background-color: aqua;
        margin: auto;
    }   

}


@media all and (max-width: 960px) {
    .background-content-center {
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {
    .background-content-center {
        .callout,
        .callout2 {
            width: 200px;
            height: 100px;
        }
    }
}